:root {
  --colorError: rgb(255, 0, 0);
  --colorWhite: #ffffff;
  --colorText: #000000;
  --colorHeaderBg: #a6cbde;
  --colorFooterbg: #222a2e;
  --colorResetBtn: #a2a3a4;
}
html {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}
.header {
  background-color: var(--colorHeaderBg);
  padding: 3rem 0;
}
.container {
  width: 100vw;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
  /* align-items: flex-start; */
}
.form {
  width: 100%;
  margin-bottom: 3rem;
  /* min-width: 70%; */
  max-width: 100rem;
  padding: 0 1rem;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #222a2e;
  padding: 2rem 0;
  color: var(--colorWhite);
  font-family: "Montserrat", sans-serif;
  /* font-size: 1.6rem; */
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}
.title {
  color: var(--colorText);
  font-size: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 5.5rem;
  margin-bottom: 4rem;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  align-self: flex-start;
  width: 40%;
}
.field {
  border: none;
  border-bottom: 0.1rem solid var(--colorText);
  padding: 0 1rem;
}
.input-field {
  height: 5rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.textarea-field {
  resize: none;
}
.textarea-field:focus,
.input-field:focus {
  outline: none;
  background-color: none;
}
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 3rem var(--colorWhite) inset !important;
}
.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-field[type="number"] {
  -moz-appearance: textfield;
}
::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  font-style: normal;
  color: var(--colorText);
}
.text {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}
.button {
  height: 5.5rem;
  width: 13.1rem;
  margin: 0 3rem;
  margin-top: 5rem;
  color: var(--colorWhite);
  border: none;
  font-size: 2rem;
  font-weight: 700;
}
.button:hover,
.button:focus {
  background-color: var(--colorText);
}
.reset-button {
  background-color: var(--colorResetBtn);
}
.send-button {
  background-color: var(--colorHeaderBg);
}
.input-error {
  border-color: var(--colorError);
}
.input-error::-webkit-input-placeholder {
  color: var(--colorError);
  font-size: 1.6rem;
}
.error {
  display: none;
  color: var(--colorError);
  font-size: 1.6rem;
  font-weight: 300;
  width: 80%;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .container {
    height: 100%;
    margin: 0;
  }
  .body {
    margin: 0;
  }
  .input-field {
    flex-grow: 1;
  }
  .input-container {
    margin-bottom: 3rem;
    width: 100%;
  }
  .button {
    margin: 0 2rem;
    margin-top: 3rem;
  }
}
